/*******************************
BUTTONS
*******************************/
button, a{
	cursor: pointer;
}

button:disabled,
a:disabled,
button[disabled],
a[disabled]{
	cursor: initial;
}

.btn-white{
	@include button-variant(white, white, #fefefe);
}

.btn-rounded{
    border-radius: 50px !important;
}