/*******************************
CUSTOM COLORS
*******************************/

/* TEXT COLORS */
.text-green-ok{
	color: #ADFF2F !important;
}

.text-yellow-warning{
	color: #f1c40f !important;
}

.text-red-danger{
	color: #FFA07A !important;
}


/* BACKGROUND COLORS */
.bg-primary {
    background-color: theme-color("primary") !important;
}

.bg-primary-dark{
	background-color: darken(theme-color("primary"), 6%);
}

.bg-muted{
	background-color: $gray-100;
}

.bg-blue-gradient{
	background: darken($primary, 10%) linear-gradient(90deg,darken($primary, 10%) 0, lighten($primary, 10%));
}

.bg-white-muted{
	background-color: rgba(255, 255, 255, 0.8) !important;
}