/*******************************
COMMON CUSTOM STYLES
*******************************/
body{
	background-color: $white;
}

.c-pointer{
	cursor: pointer !important;
}

.c-normal{
	cursor: default;
}

.c-wait{
	cursor: wait;
}

.c-help{
	cursor: help;
}

.w-100{
	width: 100% !important;
}

.text-weight-light{
	font-weight: 300 !important;
}

.text-strike{
	text-decoration: line-through !important;
}

.text-none {
	text-decoration: none !important;
}

.right-border-gray{
	border-right: 1px solid $gray-200;
}

.table{
	margin-bottom: 0px !important;
}

.content-disabled {
	pointer-events: none;
    opacity: 0.5;
}

@include media-breakpoint-down(md){
	.sticky-top {
		position: relative !important;
		top: 0;
		z-index: 1020;
	}
}