/*******************************
ICONES
*******************************/

@font-face {
    font-family: 'icon';
    src: url($fonts-path+'icon.eot?jxa58j');
    src: url($fonts-path+'icon.eot?jxa58j#iefix') format('embedded-opentype'), url($fonts-path+'icon.ttf?jxa58j') format('truetype'), url($fonts-path+'icon.woff?jxa58j') format('woff'), url($fonts-path+'icon.svg?jxa58j#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
    content: "\e986";
}

.icon-chat_outline:before {
    content: "\e985";
}

.icon-instagram:before {
    content: "\e984";
}

.icon-archive:before {
    content: "\e97a";
}

.icon-audiotrack:before {
    content: "\e97b";
}

.icon-copy:before {
    content: "\e97c";
}

.icon-content:before {
    content: "\e97d";
}

.icon-quote:before {
    content: "\e97e";
}

.icon-ticket:before {
    content: "\e97f";
}

.icon-merge:before {
    content: "\e980";
}

.icon-redo:before {
    content: "\e981";
}

.icon-report:before {
    content: "\e982";
}

.icon-redirect:before {
    content: "\e983";
}

.icon-view-module:before {
    content: "\e973";
}

.icon-view-list:before {
    content: "\e974";
}

.icon-subject:before {
    content: "\e975";
}

.icon-security:before {
    content: "\e976";
}

.icon-print:before {
    content: "\e977";
}

.icon-info:before {
    content: "\e978";
}

.icon-folder:before {
    content: "\e979";
}

.icon-home:before {
    content: "\e972";
}

.icon-timer:before {
    content: "\e949";
}

.icon-trending-down:before {
    content: "\e900";
}

.icon-trending-flat:before {
    content: "\e904";
}

.icon-chart-bar:before {
    content: "\e905";
}

.icon-filter:before {
    content: "\e906";
}

.icon-link:before {
    content: "\e909";
}

.icon-sort2:before {
    content: "\e90a";
}

.icon-undo:before {
    content: "\e90b";
}

.icon-quote2:before {
    content: "\e90d";
}

.icon-file:before {
    content: "\e90e";
}

.icon-download:before {
    content: "\e911";
}

.icon-leads-black:before {
    content: "\e912";
}

.icon-timer-off:before {
    content: "\e916";
}

.icon-sale:before {
    content: "\e918";
}

.icon-close:before {
    content: "\e919";
}

.icon-forbiden:before {
    content: "\e91d";
}

.icon-cold:before {
    content: "\e91f";
}

.icon-wait:before {
    content: "\e923";
}

.icon-lightbulb:before {
    content: "\e924";
}

.icon-web:before {
    content: "\e925";
}

.icon-logout:before {
    content: "\e927";
}

.icon-work:before {
    content: "\e928";
}

.icon-verified:before {
    content: "\e92a";
}

.icon-trending-up:before {
    content: "\e92b";
}

.icon-money-off:before {
    content: "\e92c";
}

.icon-remove2:before {
    content: "\e92d";
}

.icon-chat-dots:before {
    content: "\e92e";
}

.icon-mail:before {
    content: "\e92f";
}

.icon-time-black:before {
    content: "\e930";
}

.icon-touch:before {
    content: "\e931";
}

.icon-gift:before {
    content: "\e932";
}

.icon-heart:before {
    content: "\e933";
}

.icon-bug:before {
    content: "\e934";
}

.icon-profile:before {
    content: "\e935";
}

.icon-trash:before {
    content: "\e936";
}

.icon-calendar-range:before {
    content: "\e937";
}

.icon-calendar:before {
    content: "\e938";
}

.icon-lock:before {
    content: "\e939";
}

.icon-lock-open:before {
    content: "\e93a";
}

.icon-time:before {
    content: "\e93b";
}

.icon-cog:before {
    content: "\e93c";
}

.icon-place:before {
    content: "\e93d";
}

.icon-phone-ddd:before {
    content: "\e93e";
}

.icon-cart:before {
    content: "\e93f";
}

.icon-sort:before {
    content: "\e940";
}

.icon-positive-thumb:before {
    content: "\e941";
}

.icon-negative-thumb:before {
    content: "\e942";
}

.icon-visibility:before {
    content: "\e943";
}

.icon-visibility-off:before {
    content: "\e944";
}

.icon-phone:before {
    content: "\e945";
}

.icon-key:before {
    content: "\e946";
}

.icon-flag:before {
    content: "\e947";
}

.icon-send:before {
    content: "\e948";
}

.icon-segments:before {
    content: "\e94a";
}

.icon-money:before {
    content: "\e94b";
}

.icon-add-photo:before {
    content: "\e94c";
}

.icon-feature:before {
    content: "\e94d";
}

.icon-settings:before {
    content: "\e94e";
}

.icon-arrow-back:before {
    content: "\e94f";
}

.icon-arrow-downward:before {
    content: "\e950";
}

.icon-arrow-forward:before {
    content: "\e951";
}

.icon-arrow-upward:before {
    content: "\e952";
}

.icon-arrow_left:before {
    content: "\e953";
}

.icon-arrow_right:before {
    content: "\e954";
}

.icon-arrow_up:before {
    content: "\e955";
}

.icon-arrow_down:before {
    content: "\e956";
}

.icon-reload:before {
    content: "\e957";
}

.icon-menu-more:before {
    content: "\e958";
}

.icon-notifications:before {
    content: "\e959";
}

.icon-notifications-active:before {
    content: "\e95a";
}

.icon-face-very-happy:before {
    content: "\e95b";
}

.icon-face-very-sad:before {
    content: "\e95c";
}

.icon-user:before {
    content: "\e95d";
}

.icon-add-user:before {
    content: "\e95e";
}

.icon-notifications-off:before {
    content: "\e95f";
}

.icon-face-sad:before {
    content: "\e960";
}

.icon-face-neutral:before {
    content: "\e961";
}

.icon-face-happy:before {
    content: "\e962";
}

.icon-face-super-sad:before {
    content: "\e963";
}

.icon-face-super-happy:before {
    content: "\e964";
}

.icon-share:before {
    content: "\e965";
}

.icon-hot:before {
    content: "\e966";
}

.icon-group:before {
    content: "\e967";
}

.icon-add-group:before {
    content: "\e968";
}

.icon-enterprise:before {
    content: "\e969";
}

.icon-cake:before {
    content: "\e96a";
}

.icon-location:before {
    content: "\e96b";
}

.icon-attachment:before {
    content: "\e96c";
}

.icon-chart-pie:before {
    content: "\e96d";
}

.icon-chat:before {
    content: "\e96e";
}

.icon-edit:before {
    content: "\e96f";
}

.icon-video:before {
    content: "\e970";
}

.icon-avatar:before {
    content: "\e921";
}

.icon-star:before {
    content: "\e929";
}

.icon-seller:before {
    content: "\e926";
}

.icon-check:before {
    content: "\e901";
}

.icon-receipt:before {
    content: "\e902";
}

.icon-empty-cart:before {
    content: "\e903";
}

.icon-safe:before {
    content: "\e907";
}

.icon-cart-line:before {
    content: "\e908";
}

.icon-leads:before {
    content: "\e90c";
}

.icon-barcode:before {
    content: "\e90f";
}

.icon-credit-card:before {
    content: "\e910";
}

.icon-twitter:before {
    content: "\e913";
}

.icon-facebook:before {
    content: "\e914";
}

.icon-google-plus:before {
    content: "\e915";
}

.icon-eye:before {
    content: "\e91a";
}

.icon-remove:before {
    content: "\e91b";
}

.icon-add:before {
    content: "\e91c";
}

.icon-warning:before {
    content: "\e91e";
}

.icon-ok:before {
    content: "\e920";
}

.icon-error:before {
    content: "\e922";
}

.icon-search:before {
    content: "\e917";
}

.icon-youtube:before {
    content: "\e971";
}