/*******************************
REACT RATER COMPONENT - AVALIAÇÃO
*******************************/
.react-rater {
    display: inline-block;
    line-height: normal;
}
.react-rater > * {
    display: inline-block;
}
.react-rater-star {
    cursor: pointer;
    color: $react-rater-link !important;
    position: relative;
    font-size: 45px;
    margin: 0px 2px;
}
.react-rater-star.will-be-active {
    color: $react-rater-hover !important;
}
.react-rater-star.is-active {
    color: $react-rater-active !important;
}
.react-rater-star.is-active-half:before {
    color: $react-rater-active !important;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
.react-rater-star.is-disabled {
    cursor: default !important;
}