/*******************************
PÁGINAS DE AUTENTICAÇÃO (LOGIN, CADASTRO, RECUPERAR SENHA)
*******************************/

.auth {
    width: 100%;
    min-height: 100vh;
    height: auto;
    &.signup,
    &.signin {
        .left {            
            background-color: $primary;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right;
            height: inherit;
            .logo {
                height: 85px;
                width: auto;
            }
        }
        .right {
            height: auto;
            min-height: 100vh;
            max-height: 100vh;
            overflow: auto;
        }
    }
    &.lost-password {        
        background-color: $primary;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }
    &.first-config,
    &.verify-account {
        border-top: 6px solid $primary;
        .logo {
            width: 140px;
            height: auto;
        }
    }
}

@include media-breakpoint-down(sm) {
    .auth {
        overflow: hidden !important;
        &.signup,
        &.signin {
            .left {
                .logo {
                    height: 55px;
                    width: auto;
                }
            }
            .right {
                height: auto;
                min-height: initial;
                max-height: initial;
                overflow: initial;
            }
        }
    }
}