/*******************************
SLIDER DE CATEGORIAS DA INDEX/DASHBOARD
*******************************/

.slider {
    background-color: $gray-100;
    margin-right: 41px;
    margin-left: 41px;

    .categorias {
        a {
            font-size: 14px;

            &.categoria {
                color: #333333;
                cursor: pointer;
                background-color: transparent;
                border: 1px solid $gray-200;
                border-right: none;
                font-weight: bold;
                margin: 0px;
                padding: 10px 10px;
                height: 66px !important;
                
                .leads-count{
                    width: 23px;
                    height: 23px;
                    display: inline-table;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0;
                    
                    span{
                        vertical-align: middle;
                        margin: 0 0 0 -2px;
                        padding: 3px;
                    }
                }

                &:hover,
                &:focus,
                &.active {
                    background-color: $gray-200;
                    text-decoration: none;
                }
            }
        }
    }
}

.slick-prev,
.slick-next {
    color: transparent;
    cursor: pointer;
    background: $gray-100;
    border-bottom: 1px solid $gray-300;
    border-top: 1px solid $gray-300;
    position: absolute;
    display: block;
    height: 66px;
    width: 40px;
    line-height: 0px;
    font-size: 0px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    outline: none;
    &:hover,
    &:focus {
        color: transparent;
        background: $gray-300;
        outline: none;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: 0.25;
    }
    &:before {
        color: #222;
        font-family: 'icon' !important;
        font-size: 40px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        opacity: 0.80;
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -40px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: "\e953";
        [dir="rtl"] & {
            content: "\e954";
        }
    }
}

.slick-next {
    right: -40px;
    border-left: 1px solid $gray-300;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: "\e954";
        [dir="rtl"] & {
            content: "\e953";
        }
    }
}

@include media-breakpoint-down(sm) {
    .slider {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@include media-breakpoint-down(xs) {
    .slider {
        margin-right: 0px;
        margin-left: 0px;
    }
}