/*******************************
CRÉDITOS
*******************************/

/* CARD DE RECIBO */
.receipt-card {
    .list-group {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
        .list-group-item {
            &:last-child {
                &:after {
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C0%204%2C4%208%2C0%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    height: 4px;
                }
            }
        }
    }
}