/*******************************
FILTROS DA INDEX/DASHBOARD
*******************************/
.filter-toggle {
	cursor: normal;
	min-height: 63px !important;
	height: auto;
	h5 {
		font-size: 18px !important;
	}
}

.filtros {
	hr {
		border-top: 1px dotted $primary;
	}
	&.hide-filter {
		display: block;
	}

	&.show-filter {
		display: block;
	}
}

@include media-breakpoint-down(sm) {
	.filter-toggle {
		cursor: pointer;
	}

	.filtros {
		&.hide-filter {
			display: none;
		}

		&.show-filter {
			display: block;
		}
	}
}
