/*******************************
FOOTER
*******************************/
.footer {
    
    &.footer-dashboard{
        border-top: 1px solid $primary;
        background-color: #ffffff;

        .copyright {
            border-top: 1px dotted $primary;

            p {
                color: darken($primary, 5%);
            }
        }
    }

    &.footer-pages{
        border-top: 1px solid $gray-300;
        background-color: $gray-200;

        .copyright {
            border-top: 1px solid $gray-400;

            p {
                color: $gray-600;
            }
        }
    }

    .logo {
        display: inline-block;
        max-width: 160px;
        width: auto;
        height: auto;
    }

    h5 {
        font-size: 18px;
        font-weight: bold;
        color: darken($primary, 5%);
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }

    h2{ 
        a {
            font-size: 50px;
            text-align: center;
            color: #fff;
        }
    }

    a {
        color: $gray-800;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
            color: darken($primary, 5%);
        }
    }

    .social a {
        font-size: 30px;
    }

    .copyright {
        p {
            font-size: 11px;
            font-weight: normal;
            margin: 0;
            a {
                font-weight: 700;
                color: lighten($primary, 5%);
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
}