/*******************************
FORMULÁRIOS
*******************************/

textarea {
	font-family: $font-family-sans-serif !important;
}

.img-drop-area {
	width: 200px;
	height: 200px;
	border: 2px dashed #ccc;
	color: #999;
	cursor: pointer;
	position: relative;
	.description {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 4px;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.3);
		color: #fff;
	}
	.img-preview {
		width: 196px;
		height: 196px;
	}
}

.custom-checkbox {
	.custom-control-input:checked ~ .custom-control-label::after {
		border: 1px solid $primary !important;
		border-radius: 3px;
		background-color: $primary !important;
	}
	.custom-control-label::after {
		border: 1px solid #bbb !important;
		border-radius: 3px;
	}
}

.custom-radio {
	.custom-control-input:checked ~ .custom-control-label::after {
		border: 1px solid $primary !important;
		border-radius: 50%;
		background-color: $primary !important;
	}
	.custom-control-label::after {
		border: 1px solid #bbb !important;
		border-radius: 50%;
	}
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.input-required {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 0 solid transparent;
		border-right: 24px solid #6980fe;
		border-bottom: 24px solid transparent;
		border-left: 0 solid transparent;
		line-height: 0;
		top: 0;
		right: 0;
	}
	&:before {
		content: '*';
		position: absolute;
		top: 1px;
		right: 3px;
		color: #ffffff;
		font-size: 17px;
		line-height: 17px;
		z-index: 1;
	}
}

.card-flag {
	position: relative;
	&:after {
		content: '';
		background-color: $gray-300;
		position: absolute;
		display: inline-block;
		width: 35px;
		height: 22px;
		top: 8px;
		right: 20px;
	}
	&.mastercard {
		&:after {			
			background-repeat: no-repeat;
		}
	}
	&.visa {
		&:after {			
			background-repeat: no-repeat;
		}
	}
	&.amex {
		&:after {			
			background-repeat: no-repeat;
		}
	}
	&.elo {
		&:after {
			
			background-repeat: no-repeat;
		}
	}
	&.diners {
		&:after {			
			background-repeat: no-repeat;
		}
	}
	input {
		padding-right: 55px;
	}
}

.custom-password-input {
	position: relative;
	a.btn-show-pass {
		position: absolute;
		display: inline-block;
		top: 5px;
		right: 20px;
		background: transparent;
		border: none;
		font-size: 20px;
		color: #6980fe;
		&:hover,
		&:focus,
		&:active {
			color: darken(#6980fe, 5%);
		}
	}
	input {
		padding-right: 60px;
	}
}

.input-money {
	&.input-group-lg > .input-group-prepend > .input-group-text,
	&.input-group-lg > .input-group-append > .input-group-text {
		font-size: 1.5rem !important;
		padding: 1.5rem !important;
	}
	&.input-group-lg > .form-control {
		color: $primary;
		padding: 1rem 1rem !important;
		font-size: 2.7rem !important;
		line-height: 1 !important;
		font-weight: 300;

		&::placeholder {
			font-size: 1.8rem !important;
			line-height: normal;
			font-weight: 300;
		}
	}
}
