/*******************************
CARDS PARA MOSTRAR LEADS (USADO NA LOJA E EM MINHAS LEADS)
*******************************/

/* LEAD CARD */
.leads-cards {
	.lead-card,
	.lead-card-pro,
	.lead-card-taken {
		background-color: #ffffff;
		height: auto;
		border-radius: 4px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
		position: relative;
		transition: all 0.5s;
		height: 100%;

		&:hover {
			box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.26);
			transition: all 0.5s;
		}
		header {
			padding: 15px 5px;

			h4 {
				font-size: 20px;
				color: #565656;
				margin: 0 0 3px;
				margin: 0 auto;
			}

			time {
				font-size: 14px;
				color: #888888;
				margin: 0;
			}

			h2 {
				font-size: 30px;
				font-weight: 700;
				margin: 0 0 15px;
			}
		}

		.price {
			padding: 10px 0px 6px;
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;
			width: 100%;
			display: block;
			text-align: center;
			margin: 0;

			.moeda {
				top: -18px;
				right: 0px;
				position: relative;
				font-family: arial, sans-serif;
				color: #999;
				font-size: 16px;
				font-weight: 400;
			}

			.valor {
				font-size: 46px;
				font-weight: 700;
			}
		}

		ul.info {
			list-style: none;
			padding: 15px 15px 5px;
			margin-bottom: 50px;

			&.info li {
				padding: 3px 5px;
				color: #666666;
				font-size: 14px;
			}
		}

		a,
		button {
			border: none;
			cursor: pointer;
			color: #ffffff;
			width: 100%;
			padding: 10px 0px;
			text-align: center;
			display: inline-block;
			transition: all 0.5s;
			margin: 0;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			position: absolute;
			bottom: 0;
			font-size: 13px;

			&.btn-loading {
				padding: 10px 0px 7px !important;
			}

			&:hover,
			&:focus {
				text-decoration: none;
				transition: all 0.5s;
			}

			&.btn-add {
				background-color: $primary;
			}

			&.btn-saldo {
				background-color: $info;
				padding: 11px 0px;
			}
		}

		.ribbon {
			position: absolute;
			top: -5px;
			right: -6px;
			width: 100px;
			height: 110px;
			overflow: hidden;

			&.promocao{
				.text {
					padding: 5px 5px;
					font-size: 11px;
					background-color: $yellow;
					
					&:before,
					&:after {
						content: '';
						border-top: 5px solid darken($yellow, 17%) !important;
					}
				}
			}

			.text {
				position: relative;
				left: -8px;
				top: 18px;
				width: 145px;
				padding: 8px 8px;
				font-size: 15px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				transform: rotate(45deg) translate3d(0, 0, 0);

				&:before,
				&:after {
					content: '';
					position: absolute;
					bottom: -5px;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}
		}
	}

	.lead-card {
		header {
			h4 {
				color: $primary;
			}

			h2 {
				color: $primary;
			}
		}

		.price {
			color: $primary;
		}

		a,
		button {
			&:hover,
			&:focus {
				background-color: darken($primary, 4%);
			}

			&.btn-taken {
				background-color: $primary;
			}
		}

		.ribbon {
			.text {
				background-color: $primary;

				&:before,
				&:after {
					content: '';
					border-top: 5px solid darken($primary, 10%);
				}
			}
		}
	}

	/* LEAD CARD COMPRADA */
	.lead-card-taken {
		header {
			h4 {
				color: $success;
			}

			h2 {
				color: $success;
			}
		}

		.price {
			color: $success;
		}

		a,
		button {
			&:hover,
			&:focus {
				background-color: darken($success, 4%);
			}

			&.btn-taken {
				background-color: $success;
			}
		}

		.ribbon {
			.text {
				background-color: $success;

				&:before,
				&:after {
					content: '';
					border-top: 5px solid darken($success, 10%);
				}
			}
		}
	}
}

.auth-card {
	background-color: #ffffff;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	position: relative;

	.cartao {
		border-left: 1px dotted #aaaaaa;
	}
}
