/*******************************
LOADING
*******************************/
.loading {
    &.x-small{
        .loader-spinner{
            width: 30px;
            height: 30px;
        }

        .text{
            font-size: 10px;
        }
    }
    
    &.small{
        .loader-spinner{
            width: 40px;
            height: 40px;
        }

        .text{
            font-size: 10px;
        }
    }
    
    &.large{
        .loader-spinner{
            width: 90px;
            height: 90px;
        }
        
        .text{
            font-size: 24px;
        }
    }
    
    &.medium{
        .loader-spinner{
            width: 50px;
            height: 50px;
        }
    }

    &.inverse{
        .loader-spinner{
            border-top: 2px solid transparentize(#fff, .9);
            border-right: 2px solid transparentize(#fff, .9);
            border-bottom: 2px solid transparentize(#fff, .9);
            border-left: 2px solid transparentize(#fff, .2);    
        }

        .text{
            -webkit-animation: pulse-light 2500ms infinite linear;
            -moz-animation: pulse-light 2500ms infinite linear;
            -ms-animation: pulse-light 2500ms infinite linear;
            -o-animation: pulse-light 2500ms infinite linear;
            animation: pulse-light 2500ms infinite linear;
        }
    }

    &.button{
        @extend .d-inline-flex;
        @extend .align-items-center;
        @extend .justify-content-center;

        .loader-spinner{
            width: 20px;
            height: 20px;
            margin: 0 !important;
        }

        .text{
            font-size: 16px;
            margin-left: 10px;
        }
    }

    .loader-spinner{
        display: inline-block;
        text-indent: -12345px;
        border-top: 2px solid transparentize(theme-color("primary"), .9);
        border-right: 2px solid transparentize(theme-color("primary"), .9);
        border-bottom: 2px solid transparentize(theme-color("primary"), .9);
        border-left: 2px solid transparentize(theme-color("primary"), .2);
    
        border-radius: 50%;
    
        -webkit-animation: spinner 700ms infinite linear;
        -moz-animation: spinner 700ms infinite linear;
        -ms-animation: spinner 700ms infinite linear;
        -o-animation: spinner 700ms infinite linear;
        animation: spinner 700ms infinite linear;
    }

    .text{
        -webkit-animation: pulse-dark 2500ms infinite linear;
        -moz-animation: pulse-dark 2500ms infinite linear;
        -ms-animation: pulse-dark 2500ms infinite linear;
        -o-animation: pulse-dark 2500ms infinite linear;
        animation: pulse-dark 2500ms infinite linear;
    }
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulse-dark {
    0% { color: rgba(0,0,0,0.2); }
    50% { color: rgba(0,0,0,0.8); }
    100% { color: rgba(0,0,0,0.2); }
}

@-moz-keyframes pulse-dark {
    0% { color: rgba(0,0,0,0.2); }
    50% { color: rgba(0,0,0,0.8); }
    100% { color: rgba(0,0,0,0.2); }
}

@-o-keyframes pulse-dark {
    0% { color: rgba(0,0,0,0.2); }
    50% { color: rgba(0,0,0,0.8); }
    100% { color: rgba(0,0,0,0.2); }
}

@keyframes pulse-dark {
    0% { color: rgba(0,0,0,0.2); }
    50% { color: rgba(0,0,0,0.8); }
    100% { color: rgba(0,0,0,0.2); }
}

@-webkit-keyframes pulse-light {
    0% { color: rgba(255,255,255,0.2); }
    50% { color: rgba(255,255,255,0.8); }
    100% { color: rgba(255,255,255,0.2); }
}

@-moz-keyframes pulse-light {
    0% { color: rgba(255,255,255,0.3); }
    50% { color: rgba(255,255,255,1); }
    100% { color: rgba(255,255,255,0.3); }
}

@-o-keyframes pulse-light {
    0% { color: rgba(255,255,255,0.3); }
    50% { color: rgba(255,255,255,1); }
    100% { color: rgba(255,255,255,0.3); }
}

@keyframes pulse-light {
    0% { color: rgba(255,255,255,0.3); }
    50% { color: rgba(255,255,255,1); }
    100% { color: rgba(255,255,255,0.3); }
}


.loading-fullpage{
    width: 100%;
    min-height: calc(100vh - 74px);
    height: auto;
}

.loading-table{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}