$circle-diam: 17px;
$last-circle-diam: 34px;
$line-height: 2px;

.progressbar {
	width: 100%;
	@extend .d-flex;
	@extend .justify-content-between;
	@extend .align-items-center;
	padding: 0;
	margin-bottom: 0;
	li {
		list-style-type: none;
		position: relative;
		width: 100%;
		height: $circle-diam;
		span {
			position: relative;
		}
		&:before {
			content: '';
			background-color: $gray-400;
			color: $gray-700;
			border-radius: 50%;
			width: $circle-diam;
			height: $circle-diam;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-10px);
			z-index: 3;
		}
		&:after {
			content: '';
			width: 100%;
			height: $line-height;
			position: absolute;
			background-color: $gray-300;
			top: ($circle-diam/2)-$line-height;
			left: -50%;
			z-index: 1;
		}

		&:first-child {
			&:after {
				display: none;
			}
		}

		&:last-child {
			&:before {
				content: '\e932'; /* Icone de presente */
				font-family: 'icon' !important;
				text-align: center;
				font-size: $last-circle-diam - 13px;
				padding-top: 2px;
				width: $last-circle-diam;
				height: $last-circle-diam;
				top: -9px;

				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;

				-webkit-animation-name: pulse;
				animation-name: pulse;
			}
		}

		&.active {
			&:before,
			&:after {
				background-color: $primary;
				color: $white;
			}

			&:last-child {
				&:before {
					background-color: $yellow;
					color: $white;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	&:last-child {
		&:before {
			width: $circle-diam !important;
			height: $circle-diam !important;
			background: transparent !important;
			top: 0;
		}
	}

	&.active {
		&:last-child {
			&:before {
				color: $yellow !important;
			}
		}
	}
}

/* Animação Tipo Pulse */
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
