/*******************************
TIMELINE DE DETALHES DA LEAD
*******************************/

.timeline {
	padding-bottom: 20px;
    
    .item-danger {
        background-color: #ea5353 !important
    }

    .item-warning {
        background-color: #ffa700 !important
    }

    .item {
        margin-bottom: 20px;
        margin-left: 20px;
        position: relative;
		
        .message {
            padding: 10px;
            position: relative;
            padding-bottom: 8px;
			overflow: hidden;
			
            h5 {
                font-size: 16px;
                font-weight: bold;
                margin: 0;
            }
        }
		
        &:before {
            content: "";
            border-radius: 2px;
            bottom: -30px;
            height: 100%;
            left: -18px;
            position: absolute;
            width: 1px;
            background-color: #eee;
            z-index: 3;
		}
		
        &:after {
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            content: "";
            height: 11px;
            left: -23px;
            position: absolute;
            top: 15px;
            width: 11px;
            z-index: 2;
        }

        &.item-danger:before {
            background-color: #ea5353;
        }

        &.item-danger:after {
            background: #ea5353;
        }

        &.item-warning:before {
            background-color: #ffa700;
        }

        &.item-warning:after {
            background: #ffa700;
        }
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.stepper {
    width: 100%;
	padding: 28px 0px 15px;
	
    .status {
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
        width: 100%;
		text-align: center;
		
        small {
            margin-top: 15px;
		}
		
        &:before {
            content: '';
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
            cursor: pointer;
		}
		
        &.complete {
			border-top: 2px solid theme-color("warning");
			
            &:before {
                background-color: theme-color("warning");
                border: none;
                transition: all 200ms ease-in;
			}
			
            small {
                color: #fff;
            }
        }
    }
}

.timeline-agenda {
    max-height: 510px; 
    min-height: 510px; 
    overflow: auto;
}


/* @media (min-device-width: 320px) and (max-device-width: 700px)
.timeline
  list-style-type: none;
  display: block;
.li
  transition: all 200ms ease-in;
  display: flex;
  width: inherit;
.timestamp
  width: 100px;
.status
  &:before
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;  */